:root{
    --cor-Primaria: #2E245E;
    --cor-Segundaria: #37268C;
    --Grey-100: #333333;
    --Grey-50: #828282;
}


/* Configurações gerais */
body{
    width: 100%;
    background: url('/img/backgaround.png') no-repeat ;
    position: absolute;
    font-family: 'Inter', sans-serif;
    cursor: auto;
}

body a{
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

a:hover{
    color: #2E245E;
    font-size: 18pt;
}

/* Configurações do cabeçalho */
.cabecalho{
    width: 100%;
    height: 60px;    
    display: flex;
    position: fixed;
    justify-content: space-between;
    border-bottom: 0.1px solid rgba(128, 128, 128, 0.288);
    box-shadow: -10px -10px 20px black;
    background-color: #ffffff;
}

/* Logo do cabeçalho */
.cabecalho #logo{
    width: 220px;
    height: 100px;
    margin-top: -15px;
    margin-left: 20px;
}

.cabecalho #logo img{
    width: 100%;
    height: 100%;
}

/* Menu de navegação do cabeçalho */
.cabecalho nav{
    width:75%;
    height: 100%;
}

.cabecalho nav ul{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.cabecalho nav ul li{
    display: inline;
}

/* Sub-Menu */
.cabecalho nav ul ul{
    width: 300px;
    display: none;
    position: absolute;
    background-color: #ffff;
    margin: 0 0 0 -100px;
}

.cabecalho nav ul li{
    transition: 3s;
}
.cabecalho nav ul li:hover ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cabecalho nav ul li ul li a{
    display: inline;
}


/* Butões a direita do cabeçalho */
.direita{
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.direita button {
    width: 80px;
    margin: auto;
    border: none;
    border-radius: 3px;
    background-color: var(--cor-Segundaria);
    color: white;
    cursor: pointer;
    transition: 300ms;
}

.direita button:hover{
    background-color: #ffff;
    color: var(--cor-Segundaria);
    border: 1px solid var(--Grey-50);
}

/* Configurações do conteúdo príncipal */
main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 600px auto 0 auto;
    background-color: white;
}

/* Seção dos produtos */
main .produtos{
    width: 1200px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 100px auto 0 auto;
    float: left;
}

.produtos h2{
    width: 150px;
    height: 100px;
    font-size: 20pt;
    margin: -50px 0 20px 90px;
    border-radius: 3px 0 0 0;
    border-top: 0.1px solid #333333;
    border-left: 0.1px solid #333333;
    padding: 10px 0 0 10px ;
}

.produtos ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: -90px;
}

.produtos ul li{
    width: 310px;
    height: 350px;
    border: 1px solid rgba(0, 0, 0, 0.349);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.397);
    margin: 10px
}
.produtos ul li .img{
    width: 100%;
    height: 140px;
    margin: auto;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.349);
    flex-wrap: wrap;
    align-content: space-around;
    margin: 0 0 10px 0;
}

.produtos ul li .tag{
    font-family: 'inter', sans-serif;
    font-size: 12pt;
    color: #ffffff;
    text-align: center;
    margin: 5px 0 10px 10px;
    box-shadow: 1px 1px 1px var(--Grey-50);
    background-color: var(--cor-Primaria);
}

.produtos ul li h3{
    width: 100%;
    height: 20px;
    margin: 5px 0 10px 5px;
    font-size: 15pt;
    word-wrap: break-word; 
    word-break: break-all;
    font-family: 'inter', sans-serif bold;
}

.produtos ul li .description{
    width: 98%;
    height: 70px; 
    margin-left: 5px;
    font-size: 13pt;
    word-wrap: break-word;
}

.produtos ul li .price{
    margin: 0 0 0 10px;
    color: var(--cor-Segundaria);
    margin: 0 0 10px 5px;
}

.produtos ul li button{
    border: none;
    border-radius: 2px;
    background-color: var(--cor-Segundaria);
    color: #ffffff;
    cursor: pointer;
    width: 200px;
    font-size: 13pt;
    margin: 0 0 0 10px;
    transition: 300ms;
}

.produtos ul li button:hover{
    background-color: #ffff;
    color: var(--cor-Segundaria);
    border: 1px solid #333333;
}

/* Configurações do conteúdo a direita */
.aside{
    float: right;
    width: 500px;
    max-height: 600px;
    margin: 100px 100px auto auto;
}

/* Configuração da barra de pesquisa */
.aside .search{
    width: 100%;
    height: 50px;
    display: flex;
    border: 0.1px solid rgba(126, 126, 126, 0.425);
    border-radius: 5px;
}

.aside .search input{
    width: 75%;
    background-color: #F5F5F5;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.aside .search button{
    width: 25%;
    border: none;
    background-color: var(--cor-Segundaria);
    color: white;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    transition: 300ms;
}
.aside .search button:hover{
    background-color: white;
    color: var(--cor-Segundaria);
    border-left: 1px solid rgba(126, 126, 126, 0.425);
}
/* Configuração do Carrinho de compras */
.aside .shopCart{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.aside .shopCart h2{
    text-align: center;
    height: 40px;
    font-size: 20pt;
    margin-top: 10px;
    background-color: var(--cor-Segundaria);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/* Configuração da lista de itens do carrinho */
.aside .shopCart .listItem{
    width: 99.6%;
    min-height: 300px;
    max-height: 510px;
    overflow-x: auto;
    border: 1px solid rgb(124, 124, 124);
    background-color: #F5F5F5;
    background: url('/img/carrinhoVazio.png');
}

.aside .shopCart .listItem ul{
    width: 100%;

}

.aside .shopCart .listItem ul li{
    width: 95%;
    display: flex;
    align-items: center;
    margin: 10px 0 0 10px;
    border: 1px solid rgba(122, 122, 122, 0.534);
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(124, 124, 124, 0.616);
    background-color: #ffff;
}

.aside .shopCart .listItem ul li .itemInfo{
    width: 200px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
}

.aside .shopCart .listItem ul li .tag{
    width: 100%;
    font-size: 15pt;
    margin-bottom: 5px;
}

.aside .shopCart .listItem ul li .price{
    color: var(--cor-Segundaria);
    margin-top: 5px;
}

.aside .shopCart .listItem ul li .butoes{ /* Div que contem os butões */
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside .shopCart .listItem ul li .butoes button{ /* Butões + e - */
    width: 30px;
    height: 22px;
    font-size: 12pt;
    border: 1px solid rgba(114, 114, 114, 0.5);
    background-color: #ffff;
    cursor: pointer;
}

.aside .shopCart .listItem ul li .butoes input{ /* Quantidade de produtos */
    width: 20px;
    height: 18px;
    text-align: center;
    border: 1px solid rgba(114, 114, 114, 0.5);
    background-color: #ffff;
    color: var(--cor-Primaria);
}

.aside .shopCart .cartInfo{
    width: 100%;
    height: 80px;
    background-color: #333333;
}

.aside .shopCart .cartInfo span{
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin: 15px 0 15px 10px;
    color: #ffff;
}

.aside .shopCart .cartInfo input{
    width: 70px;
    text-align: center;
    border: none;
    background: none;
    color: #ffff;
    font-size: 13pt;
    outline: none;
    cursor: auto;
}